.navigation {
  max-height: 200px;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 2px solid #555;
  display: flex;
  align-items: center;
}

.heading-primary {
  padding: 5px;
  flex: 1;
}

.logo {
  height: 50px;
  display: block;
}

.home-icon {
  display: block;
  height: fit-content;
  font-size: 25px;
  color: var(--primary-color);
}